img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 1em;
}

.shop-name {
font-weight: 800;
}

.shop-name, .valorations {
  margin-left: 1em;
}

.shop-card-container {
  position: relative;
  background-color:white;
  height: 275px;
  margin-bottom: 1em;
  text-align: left;
}