img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 1em;
}

.shop-name {
  display: flex;
  font-weight: 800;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: .1em;
}

.no-valorations {
  margin-left: .5em;

}

.ratings {
  display: flex;
  margin-left: .6em;
}

.shop-card-container {
  position: relative;
  background-color:white;
  height: 275px;
  margin-bottom: 1em;
  text-align: left;
  border-radius: 6px;
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.3);
  
}

.distance {
  font-size: .8em;
  font-weight: normal;
}